* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: teal;
    padding-top: 1%; 
}

nav {
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: center;
}

nav > a {
    font-family: 'Spartan', sans-serif;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 400;
    color:whitesmoke;
    padding: 1% 2% 1% 2%;
}

a {
    text-decoration: none;
    cursor: cell;
    font-family: 'Spartan', sans-serif;
} 

button {
    width: 160px;
    padding-left: 1%;
    padding-right: 1%;
    height: 30px;
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 400;
    background-color: cadetblue;
    color:whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: cell;
    outline:none;
}

button:hover {
    background-color:rgb(186, 186, 186);
}

input {
    height: 30px;
    width: 300px;
    margin: 1%;
    border: solid 2px rgb(186, 186, 186);
    border-radius: 5px;
}

label {
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 400;
    color: rgb(45, 45, 45)
}

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > section {
    display: none;
}

main > section.active {
    display: block;

}

h1 {
    font-family: 'Major Mono Display', monospace;
    color:whitesmoke;
    font-size: 250%;
}

h2 {
    font-family: 'Spartan', sans-serif;
    font-weight: 500; 
    font-size: 16px;
    letter-spacing: 0.1em;
    text-align: center; 
    margin: 1%;
    color: rgb(45, 45, 45)
}

h3 {
    font-family: 'Spartan', sans-serif;
    font-weight: 500; 
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;  
    padding: 1%;
    background: cadetblue;
    color: whitesmoke;
    border-radius: 10px 10px 0px 0px;
}

h4 {
    font-family: 'Spartan', sans-serif;
    font-weight: 500; 
    font-size: 16px;
    letter-spacing: 0.1em;
    text-align: center; 
    padding: 5%;
    background: cadetblue;
    color: whitesmoke;
    border-radius: 10px 10px 0px 0px;
}

li, p, .description-info, .fel-mess{
    font-family: 'Spartan', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
    list-style: none;
    color: rgb(45, 45, 45);
}

img {
    width: 60%;
}

.home, .search {
    width: 100%;
    padding-top: 1%;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container {
    width: 200px;
    height: auto;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 5px;
}

.home-img {
    width: 60%;
}

.info-img {
    width: 40%;
}

.info-card {

    /* position: absolute;
    z-index: 1; */

    background-color: whitesmoke;
    border-radius: 15px;
    padding: 3%;

    display: grid;
    grid-template-areas:
        'image description description description list list'
        'image description description description list list'
        'brewer brewer      food food              list list'
        'brewer brewer      food food              button button'
    ;
    align-items: start;
    justify-content: start;
}
.info-card > .img-container {
    grid-area: image;
}
.info-card > .description {
    grid-area: description
}
.info-card > .brewers-tips {
    grid-area: brewer;
}
.info-card > .food-pairing {
    grid-area: food;
}
.info-card > a {
    grid-area: button;
}
.info-card > .info-list {
    grid-area: list;

    border: solid 2px antiquewhite;
    border-radius: 5px;
    margin: 10px;
}
.info-card > div, .info-card > ul{
    padding: 10px;
}
.info-list > li > ul > li, .info-list > li > ul, .info-list > li > li  {
    padding-left: 10%;
}

/* MORE INFO OCH LESS INFO FUNKTION*/

.card {
    display: none;
}
.home-card.active {
    display: flex;
}
.info-card.active {
    display: grid;
}

.more-info-button, .info-button {
    margin-bottom: 1%;
    color: palevioletred;
}

  /* SEARCH STYLES */

.form {
    display: none;
}
.form.active {
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-card-left, .search-card-right {
    margin: 5%;
    width: 450px;
    height: 740px;
    border-radius: 15px 15px 0px 0px;
    background-color: antiquewhite;
}

.search-card-right {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
} 

.search-card {
    display: none;
}
.search-card.active {
    display: flex;
    justify-content: center;   
}

.title {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.beer-list{
    font-size: 14px;
    font-weight: 500;
    padding: 0% 5% 0% 5%;
    color: palevioletred;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60px;
    border-bottom: solid 2px cadetblue;
}

.beer-list:hover {
    color: whitesmoke;
    background-color: cadetblue;

}

.hidden {
    display: none;
}

.fas {
    color: teal;
    font-size: 30px;
    cursor: pointer;
}
.prev, .next {
  width: 100px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: flex-end;
}

p.next-prev {
    color: teal;
    margin: 0 10% 0 10%;
}

.img-card-info {
    width: 450px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-info{
    width: 20%;
}

.search-beer-list{
    width: 450px;
    height: 600px;
}

.search-info{
    width: 450px;
    height: 250px;
}

.description-info{
    padding: 1% 5% 1% 5%;
}

.info-footer{
    text-align: center;
}

.fel-mess{
    padding: 5% 10% 0 10%;
}

.fa-exclamation-triangle{
    font-size: 16px;
    padding-right: 5px;
}
