* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: teal;
    padding-top: 1%; 
}

nav {
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: center;
}

nav > a {
    font-family: 'Spartan', sans-serif;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    padding: 1% 2% 1% 2%;
}

a {
    text-decoration: none;
    cursor: cell;
} 

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > section {
    display: none;
}

main > section.active {
    display: block;
}

h1 {
    font-family: 'Major Mono Display', monospace;
    color: #ffffff;
    font-size: 250%;
}

h2 {
    text-align: center;
}

h3 {
    font-family: 'Spartan', sans-serif;
    font-weight: 500; 
    text-align: center; 
}

li, p {
    font-family: 'Spartan', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
    list-style: none;
}

img {
    width: 60%;
}

.home, .search {
    width: 100%;
    padding-top: 2%;
}

.img-container {
    width: 200px;
    height: auto;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.img-container-info {
    width: 10%;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ANIMATION */

/* .info, .search {
    animation-duration: 1s;
    animation-name: fadeInUp;
  }
  
  @keyframes fadeInUp {
    from {
      margin-top: 100%;
      width: 100%
    }
  
    to {
      margin-top: 0%;
      width: 100%;
    }
  } */

  /* SEARCH STYLES */

.form {
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-card-left, .search-card-right {
    margin: 5%;
    width: 450px;
    height: 650px;
    border-radius: 15px 15px 0px 0px;
    background-color: antiquewhite;
}

.search-card-right {
    background-color: whitesmoke;
} 

.search-card{
    display: flex;
    justify-content: center;   
}