* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: teal;
    padding-top: 1%; 
}

nav {
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: center;
}

nav > a {
    font-family: 'Spartan', sans-serif;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    padding: 1% 2% 1% 2%;
}

a {
    text-decoration: none;
    cursor: cell;
    font-family: 'Spartan', sans-serif;
} 

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > section {
    display: none;
}

main > section.active {
    display: block;
}

.home.active {
    width: 100%;
    padding-top: 2%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Major Mono Display', monospace;
    color: #ffffff;
    font-size: 250%;
}

h2, h3, h4 {
    text-align: center;
    font-family: 'Spartan', sans-serif;
    font-weight: 500; 
    font-size: 16px;
    letter-spacing: 0.1em;
}
.info-card h3 {
    text-align: left;
}
.search h3 {
    padding: 5%;
    background: cadetblue;
    border-radius: 10px 10px 0px 0px;
    color: whitesmoke;
}

li, p, .random-button  {
    font-family: 'Spartan', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
    list-style: none;
}
.tagline {
    text-align: center;
}

.random-button {
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: cadetblue;
    color: whitesmoke;
    padding: 2% 3%;
}
.random-button:hover {
    background-color: antiquewhite;
    color: black;
}
.random-button:active {
    background-color: cadetblue;
    color: whitesmoke;
}


/* .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.img-container {
    width: 200px;
    height: auto;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;

    border-radius: 0 0 5px 5px;
}

.home-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 3%;
    width: 400px;
    height: 640px;
    border-radius: 15px 15px 0px 0px;
}
.home-img {
    width: 60%;
}

.info-img {
    width: 40%;
}

.info-card {

    padding: 3%;

    display: grid;
    grid-template-areas:
        'image description description description list list'
        'image description description description list list'
        'brewer brewer      food food              list list'
        'brewer brewer      food food              button button'
    ;
    align-items: start;
    justify-content: start;
}
.info-card > .img-container {
    grid-area: image;
}
.info-card > .description {
    grid-area: description
}
.info-card > .brewers-tips {
    grid-area: brewer;
}
.info-card > .food-pairing {
    grid-area: food;
}
.info-card > a {
    grid-area: button;
}
.info-card > .info-list {
    grid-area: list;

    border: solid 2px antiquewhite;
    border-radius: 5px;
    margin: 10px;
}
.info-card > div, .info-card > ul{
    padding: 10px;
}
.info-list > li > ul > li, .info-list > li > ul, .info-list > li > li  {
    padding-left: 10%;
}

/* MORE INFO OCH LESS INFO FUNKTION*/

.card {
    display: none;
}
.home-card.active {
    display: flex;
}
.info-card.active {
    display: grid;
}

/* ANIMATION */

/* .info, .search {
    animation-duration: 1s;
    animation-name: fadeInUp;
  }
  
  @keyframes fadeInUp {
    from {
      margin-top: 100%;
      width: 100%
    }
  
    to {
      margin-top: 0%;
      width: 100%;
    }
  } */

  /* SEARCH STYLES */

.form {
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-card-left, .search-card-right {
    margin: 5%;
    width: 450px;
    height: 740px;
    border-radius: 15px 15px 0px 0px;
    background-color: antiquewhite;
}

.search-card-right, .home-card {
    background-color: whitesmoke;
} 

.search-card{
    display: flex;
    justify-content: center;   
}

.beer-list{
    font-size: 14px;
    font-weight: 500;
    padding: 0% 5% 0% 5%;
    color: palevioletred;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60px;
    border-bottom: solid 2px cadetblue;
}
.beer-list:hover {
    color: whitesmoke;
    background-color: cadetblue;

}

.hidden {
    display: none;
}

.fas {
    color: teal;
    font-size: 30px;
    cursor: pointer;
}
.prev, .next {
  width: 100px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: flex-end;
}

p.next-prev {
    color: teal;
    margin: 0 10% 0 10%;
}

/* SEARCH RIGHT CARD STYLES */

.search-card-info  {
    display: grid;
    grid-template-areas:
        'image description description'
        'brewer description description'
        'brewer food food'
        'brewer food food'
    ;
    align-items: left;

    padding: 5%;
}
.search-card-info p {
    font-size: 14px;
    padding: 3% 0;
}
.search-card-info h4 {
    text-align: left;
}

.search-card-info > img {
    grid-area: image;

    width: 50%;
}
.search-card-info > .search-description {
    grid-area: description;
}


